.card {
  flex-basis: 30%; /* Ajustez la largeur en fonction de la mise en page */
  text-align: center;
  margin: 1vw;
}

.card img {
  display: block;
  width: 22vw;
  height: 20vw;
  margin: 0 auto; /* Centre l'image horizontalement */
}

.card h2,
.card p {
  text-align: left;
  margin-top: 2vw; /* Espacement du haut du titre et de la description */
}

.card h2 {
  font-family: var(--titre_light);
  color: var(--primary_color);
  font-size: 1.6vw;
  font-weight: bold;
}
.card p {
  font-family: var(--corps_de_texte);
  font-size: 1vw;
}

@media (max-width: 1032px) {
  .card h2 {
    font-size: 3vw;
  }
  .card p {
    font-size: 1.9vw;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .card img {
    width: 60vw; /* Largeur souhaitée */
    height: 58vw; /* Hauteur souhaitée */
  }

  .card h2 {
    text-align: center;
    font-size: 4vw;
    margin-top: 7vw;
  }
  .card p {
    margin-top: 5vw;
    text-align: justify;
    font-size: 2.9vw;
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 480px) {
  .card img {
    width: 70vw; /* Largeur souhaitée */
    height: 68vw; /* Hauteur souhaitée */
  }

  .card h2 {
    font-size: 7vw;
    margin-top: 7vw;
  }
  .card p {
    margin-top: 5vw;
    text-align: justify;
    font-size: 3.2vw;
    width: 90%;
    margin-left: 5%;
  }
}
