.welcome {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.welcome-left {
  width: 100%;
}
.logo {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  left: 3vw;
  top: 3vw;
}
.logo p {
  font-size: 1.8vw;
  font-family: var(--Titre);
  font-weight: 500;
}
.logoImg {
  width: 4.5vw;
}
.img_accueil {
  width: 100%;
}

.welcome-right p,
.btn,
h1 {
  margin-left: 5vw;
}
.welcome-right p {
  font-family: var(--corps_de_texte);
  font-size: 1.2vw;
}
.welcome-right h1 {
  font-family: var(--titre);
  font-size: 3.6vw;
  text-transform: uppercase;
  width: 75%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.btn {
  margin-top: 5vw;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  padding: 1vw 2vw;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--corps_de_texte);
}
.btn:hover {
  background-color: var(--hover_color);
  color: white;
  border: 1px solid var(--hover_color);
  font-weight: 400;
}
/* Media query for screens with a maximum width of 1032px */
@media (max-width: 1032px) {
  .logo p {
    font-size: 2.1vw;
  }
  .logoImg {
    width: 5.5vw;
  }

  .welcome-right p {
    font-size: 2vw;
  }
  .btn {
    font-size: 3vw;
  }
}

/* Media query for screens with a maximum width of 768px (tablets and smaller screens) */
@media (max-width: 768px) {
  .welcome {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .logo p {
    font-size: 4.8vw;
  }
  .logoImg {
    width: 11.5vw;
  }

  .welcome-right h1 {
    font-size: 5.5vw;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 5vw;
    line-height: 1.6;
  }
  .welcome-right p {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 5vw;
    font-size: 3.2vw;
  }
  .btn {
    font-size: 5vw;
    padding: 3vw 4vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
}

/* Media query for screens with a maximum width of 480px (commonly used for mobile phones) */
@media (max-width: 480px) {
  .welcome-right h1 {
    font-size: 9vw;
    text-align: left;
    margin-top: 8vw;
    margin-left: 5vw;
    line-height: 1.2;
  }
  .welcome-right p {
    text-align: left;
    margin-top: 8vw;
    font-size: 4.2vw;
    margin-left: 5vw;
    line-height: 1.4;
  }
  .btn {
    font-size: 5vw;
    padding: 3vw 4vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
}
