.second {
  margin-top: 4vw;
  display: flex;
  justify-content: space-between;
}
.second h1 {
  font-family: var(--titre_light);
  font-size: 3.6vw;
  text-transform: uppercase;
  line-height: 1.2;
  width: 40%;
}
.img_sectionSecond {
  width: 70%;
}

.list_of_services {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.list_of_services li {
  font-family: var(--titre_light);
  font-size: 1.3vw;
  line-height: 1.5;
}
